{% extends 'interface/base.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'js/bootstrap-daterangepicker/daterangepicker.css' %}"
/> {% endblock styles %} {% block content %}
<div class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 form-group">
    <select class="form-control" id="selectAmbiente">
      <option value="-1">Selecione um ambiente</option>
      {% for item in ambientes %}
      <option value='{{ item.uid }}'>{{ item.nome }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 form-group">
    <select class="form-control hide" id="selectGrandeza">
      <option value="-1">Selecione uma grandeza</option>
    </select>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 form-group">
    <select class="form-control hide" id="selectSensor">
      <option value="-1">Selecione um sensor</option>
    </select>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 form-group">
    <input type="text" class="form-control hide" id="selectDateRange">
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-primary col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 hide" id="btnDesenharGrafico">Desenhar gráfico</button>
  </div>
</div>

<!-- preparing a DOM with width and height for ECharts -->
<div id="grafico" style="width: 100%; height: 600px;"></div>
{% endblock content %} 
{% block components %}
<!-- Moment -->
<script src="{% static 'js/bootstrap-daterangepicker/moment-with-locales.min.js' %}"></script>
<!-- Datarangepicker -->
<script src="{% static 'js/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

<!--  -->
<script src="{% static 'js/aplicacao/grafico.js' %}" onload=init()></script>
<!-- Plotly.js -->
<script src="{% static 'js/plotly/plotly-latest.min.js' %}"></script> 
{% endblock components %}