<script type="text/javascript">
    $('#btn-configurar').on('click', function (e) {
        edicao().then(function (dados) {
            autenticacao().then(function (auth) {
                $.post('http://' + window.location.host + '/comunicacao/mqtt-config', {
                    username: auth.username,
                    password: auth.password,
                    servidor: dados.servidor,
                    descricao: dados.descricao,
                    identificador: dados.identificador
                }, function (res) {
                    console.log(res);
                    location.reload();
                }).fail(function (err) {
                    bootbox.alert({
                        title: "Erro",
                        message: err.responseJSON.erro
                    });
                    console.log(err);
                });
            }).catch(function (err) {
                console.log(err);
            });

        }).catch(function (err) {
            bootbox.alert({
                title: "Erro",
                message: err
            });
            console.log(err);

        });
    });

    var edicao = function () {
        return new Promise(
            function (resolve, reject) {
                bootbox.confirm({
                    title: 'Dados da central',
                    size: 'medium',
                    message: '\
                        <form id="form-mqtt" action="" data-parsley-validate class="form-horizontal form-label-left">\
                            <input type="hidden" name="md-mqtt-identificador" value="{{ mqtt_identificador }}">\
                            <div class="form-group">\
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="md-mqtt-descricao">Descrição<span class="required">*</span>\
                                </label>\
                                <div class="col-md-6 col-sm-6 col-xs-12">\
                                    <input type="text" id="md-mqtt-descricao" name="md-mqtt-descricao" required="required" class="form-control col-md-7 col-xs-12"\
                                        tabindex="1" value="{{ mqtt_descricao }}">\
                                </div>\
                            </div>\
                            <div class="form-group">\
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="md-mqtt-servidor">Endereço do Servidor <span class="required">*</span>\
                                </label>\
                                <div class="col-md-6 col-sm-6 col-xs-12">\
                                    <input type="text" id="md-mqtt-servidor" name="md-mqtt-servidor" required="required" class="form-control col-md-7 col-xs-12"\
                                        tabindex="2" value="{{ mqtt_servidor }}">\
                                </div>\
                            </div>\
                        </form>',
                    callback: function (result) {
                        if (result == false) {
                            reject("Cancelado");
                        }

                        $('#form-mqtt').unbind('submit');
                        $('#form-mqtt').submit(function (event) {
                            event.preventDefault();
                            //serializa o form
                            var unindexed_array = $(this).serializeArray();
                            var _dados = {};
                            $.map(unindexed_array, function (n, i) {
                                _dados[n['name']] = n['value'];
                            });
                            try {
                                var dados = {
                                    'identificador': _dados['md-mqtt-identificador'],
                                    'descricao': _dados['md-mqtt-descricao'],
                                    'servidor': _dados['md-mqtt-servidor']
                                }
                                resolve(dados);
                            }
                            catch (e) {
                                reject(e);
                            }

                        });
                        $('#form-mqtt').submit();
                    }
                });
            });
    };

</script>